<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title><%= item.name %></title>
  </head>
  <body>
    <%- include("partials/header") %>

    <div>
      <h1><%= item.name %></h1>
      <img src=<%= `${item.image_url}` %> alt=<%= `${item.name}` %> width="200" height="200">
      <p>Colour: <%= item.colour %> </p>
      <p>Size: <%= item.size %> </p>
      <p>Stock: <%= item.stock %> </p>
      <div id="categories-container">
        <% categories.forEach(category => { %>
            <a href=<%= `/category/${category.id}` %>>
              <p><%= category.category %></p>
            </a>
        <%})%>
      </div>
      <form method="POST" action=<%= `/clothing/${item.id}` %>>
        <button name="foo" value="foo">Delete Category</button>
      </form>
    </div>

  </body>
</html>
